<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="/Css/Dashboard.css">
</head>

<body>
    <%- include("partials/header.ejs") %>
        <%- include("partials/Hometab.ejs") %>

            <div class="DoctorContainer">
                <% Student.forEach(item=> { %>
                    <div class="Doctor">
                        <h3> Name:<%= item.Full_Name %>
                        </h3>
                        <h3>
                            <%= item. Course %>
                        </h3>
                        <h3>
                            Room_No :<%= item. Room_No %>
                        </h3>
                        <p>Course Duration:<%= item.Duration %>
                        </p>
                    
                        <p>Email: <%= item.Email %>
                        </p>
                    </div>
                    <% }); %>
            </div>



</body>

</html>